
  .btn-menu {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 335px;
    
  }
  
  .menu {
    
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    margin-top: -2px;
  }
  
  .menu > li {
    background-color: white;
  }
  
  .menu > li:hover {
    background-color: lightgray;
  }
  
  .menu > li > button {
    max-width: 335px;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #F6F6F6;
    border: none;
    padding: 5px;
  }

  .btn {
    background-color: #FF6060;
    width: 335px;
    height: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-txt {
    font-size: 13px;
    font-weight: 500;
    line-height: 18.54px;
    color: white;
    position: relative;
    text-align: center;
    
   
  }

  .menu-item-txt {
    color: #FF6060;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    
  }

.vectorDown{
  position: relative;
  transform: rotate(0deg);
  transition: transform 1s linear;
}

.btn:active > .vectorDown {
  transform: rotateX(180deg);
  transition: transform 0.2s linear;
}