
.Banner {
    background-position: center;
	background-size: cover;
	border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/banniere.png");
    height: 111px;
}

.textBanner {
    color: white;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	display: inline-block;
  	vertical-align: middle;
	margin-top: 31px;
	margin-left: 16px;
}

@media only screen and (min-width: 1440px) {

	.Banner {
		height: 223px;
	}

	.textBanner{
		font-size: 48px;
		line-height: 68.45px;
		text-align: center;
		display: block;
		position: relative;
		top: 78px;
	}

}


@media (min-width:1024px) and (max-width:1439px) {

	.Banner {
		height: 180px;
	}

    .textBanner{
		font-size: 35px;
		line-height: 40px;
		text-align: center;
		display: block;
		position: relative;
		top: 70px;
	}
}