
.Banner {
    background-position: center;
	background-size: cover;
	border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/banniere.png");
    height: 111px;
}





.textBanner {
     color: white;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	display: inline-block;
  	vertical-align: middle;
  	padding-left: 16px;
	padding-top: 5px;

}


@media only screen and (min-width: 1024px) {

	.Banner {
		height: 223px;
	}

	.textBanner{
		font-size: 48px;
		line-height: 68.45px;
		text-align: center;
		display: block;
		position: relative;
		top: 70px;
	}

}