

.bannerAbout {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/aboutbanner2.jpg);
    background-size: cover;
    background-position: center;
	border-radius: 10px;
	margin: 20px ;
	height: 223px;
}

.aboutMain{
    margin-bottom: 170px;
}