

.bannerAbout {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/aboutbanner2.jpg);
    background-size: cover;
    background-position: center;
	border-radius: 10px;
	height: 223px;
    margin-bottom: 19px;
}

.aboutMain{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 168px;
}

main{
    margin-top: 17px !important;
}

.btn{
    border-radius: 5px !important; 
}

.menu > li  {
    padding: 22.08px 6.91px 52.58px 11.51px !important;
  }

@media only screen and (min-width: 768px) {
    
    .dropDiv{
        margin-left: 109px;
        margin-right: 109px;
    }

    .aboutMain{
        margin: 61px 100px 201px 100px;
    }

    .bannerAbout{
        margin-bottom: 31px;
        border-radius: 25px;
    }
}

@media only screen and (min-width: 1024px){
    .menu > li  {
        padding: 35px 27px 19px 18px !important;
      }
}