

.bannerAbout {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/aboutbanner2.jpg);
    background-size: cover;
    background-position: center;
	border-radius: 10px;
	height: 223px;
    margin-bottom: 20px;
}

.aboutMain{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 170px;
}

@media only screen and (min-width: 1024px) {
    
    .dropDiv{
        margin-left: 209px;
        margin-right: 209px;
    }

    .aboutMain{
        margin: 61px 100px 201px 100px;
    }

    .bannerAbout{
        margin-bottom: 31px;
        border-radius: 25px;
    }
    

}