.carou{
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouImg {
    width: 310px;
    height: 255px;
    border-radius: 10px;
    object-fit: cover;
}


.picture {
    position: absolute;
    opacity: 0;
    transition-duration: 1s ease;
}

.picture.active {
    position: absolute;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}


.vecR {
    position: relative;
    left: 160px;
    height: 19.8px;
    width: 11.67px;
    cursor: pointer;
    user-select: none;
}

.vecL {
    position: relative;
    right: 160px;
    height: 19.8px;
    width: 11.67px;
    cursor: pointer;
    user-select: none;
}

.compteur{
    display: none;
}


@media only screen and (min-width: 1440px) {

.carouImg {
    min-width: 1150px;
    height: 415px;
    border-radius: 25px;
}

.carou{
    height: 415px;
}

.vecR {
    left: 580px;
    height: 79.2px;
    width: 46.68px;
}

.vecL {
    right: 580px;
    height: 79.2px;
    width: 46.68px;
}

.compteur{
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
}

.compteur2{
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
}
}


@media (min-width:1024px) and (max-width:1439px) {
    .carouImg {
        min-width: 900px;
        height: 380px;
        border-radius: 25px;
    }
    
    .carou{
        height: 380px;
    }

    .compteur{
        display: block;
        position: absolute;
        left: 50%;
        top: 90%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
    }
    
    .compteur2{
        display: block;
        position: absolute;
        left: 50%;
        top: 90%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
    }

    .vecR {
        left: 480px;
        height: 70px;
        width: 40px;
    }
    
    .vecL {
        right: 480px;
        height: 70px;
        width: 40px;
    }
}


@media only screen and (max-width: 320px) {
    .carou{
        height: 230px;
    }
    
    .carouImg {
        width: 265px;
        height: 230px;
    }

    .vecR {
        left: 140px;
    }
    
    .vecL {
        right: 140px;
    }

}

@media (min-width:768px) and (max-width:1023px) {
    .carouImg {
        min-width: 680px;
        height: 340px;
        border-radius: 25px;
    }
    
    .carou{
        height: 340px;
    }

    .compteur{
        display: block;
        position: absolute;
        left: 50%;
        top: 90%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
    }
    
    .compteur2{
        display: block;
        position: absolute;
        left: 50%;
        top: 90%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
    }

    .vecR {
        left: 350px;
        height: 70px;
        width: 40px;
    }
    
    .vecL {
        right: 350px;
        height: 70px;
        width: 40px;
    }
}
