

.carou{
position: relative;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.carouImg {
width: 200px;
height: 120px;
border-radius: 10px;
object-fit: cover;
}


.picture {
opacity: 0;
transition-duration: 1s ease;
}

.picture.active {
opacity: 1;
transition-duration: 1s;
transform: scale(1.08);
}


.vecR {
    position: absolute;
    right: 32px; 
     background-color: blueviolet;
     z-index: 10;
     cursor: pointer;
     user-select: none;
}

.vecL {
    position: absolute;
    left: 32px;
    background-color: blueviolet;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
