.textTag {
    background-color: #FF6060;
    list-style: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 2px 29px 2px 29px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14.26px;
    white-space: nowrap;
}

.tagblock {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1440px) {

    .textTag{
        font-size: 14px;
        padding: 3px 40px 3px 40px;
        height: fit-content;
        line-height: 19.96px;
    }

    .tagblock{
    align-items: flex-end;
    }


}