.logement-container_stars_host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.logement-container_dropDown {
    margin: auto;
    margin-bottom: 50px;
    max-width: 335px;
 }

.logement-container_tags-container{
    max-width: 335px;
    margin: auto;
}


.logement-container_dropDown > .drop-container > .drop-btn {
    border-radius: 5px;
}

.logement-container{
    margin: 35.71px 20px 64.5px 20px;
}

.logement-container_dropDown > .drop-container > .drop-container_text > .drop-container_text-list {
    padding: 23.02px 6.91px 1.3px 11.51px ;
    min-height: 137.57px;
    }

    @media (min-width:768px) and (max-width:1023px) {

        .logement-container_tags-container{
            max-width: 734.4px;
            margin: auto;
        }

        .logement-container_dropDown{
            max-width: 734.4px;
            margin: auto;
        }
    }


  @media only screen and (min-width:1024px) {

   .logement-container_dropDown > .drop-container > .drop-container_text > .drop-container_text-list {
    padding: 40px 12px 1px 20px ;
    min-height: 239px;
    }

    .logement-container_dropDown > .drop-container > .drop-btn {
        border-radius: 10px;
        height: 52px;
        padding: 13px 20px;
    }

    .logement-container_dropDown > .drop-container > .drop-btn > .drop-btn_text {
        size: 18px;
        line-height: 25.67px;
    }

    .host-text {
        margin-top: 20px;
    }

    .host-img {
        margin-top: 10px;
    }

  }


 @media only screen and (min-width:1440px) {
    .logement-container{
        margin: 0 100px 253px 100px;
    }
    
    .logement-container_dropDown{
        display: grid;
        grid-template-columns: repeat(2, 582px);
        gap: 76px;
        justify-content:space-between;
        max-width: 1242px;
        margin-left: auto;
        margin-right: auto;
    }

    .logement-container_stars_host{
       flex-direction: column-reverse;
       gap: 40px;
    }

    .logement-container_tags-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: -110px;
        max-width: 1242px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1024px) and (max-width:1439px) {

    .logement-container_dropDown{
        display: grid;
        grid-template-columns: repeat(2, 460px);
        justify-content:space-between; 
        max-width: 972px;
        margin: auto;
    }

     .logement-container_tags-container{
        max-width: 972px;
        margin: auto;
    }

}

