.starHost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

main{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
 }

 .dropStyle {
    margin-bottom: 50px;
 }

 @media only screen and (min-width: 1024px) {
    
    .dropStyle{
        display: grid;
        grid-template-columns: repeat(2, 582px);
        justify-self: center;
        gap: 76px;
    }


    .starHost{
       flex-direction: column-reverse;
       gap: 40px;
    }

    .TagStarHost{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-top: -130px;
    }
}