.starHost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

 .dropStyle {
    margin: auto;
    margin-bottom: 50px;
    max-width: 335px;
 }

 .TagStarHost{
    max-width: 335px;
    margin: auto;
}

 ul {
    padding-left: 5px;
    list-style: none;
  }

  .dropStyle > .btn-menu > .btn {
    border-radius: 5px;
}

.logeMain{
    margin: 35.71px 20px 64.5px 20px;
}

.dropStyle > .btn-menu > .menu > .menu-item {
    padding: 23.02px 6.91px 1.3px 11.51px ;
    min-height: 137.57px;
    }

    @media (min-width:768px) and (max-width:1023px) {

        .TagStarHost{
            max-width: 734.4px;
            margin: auto;
        }

        .dropStyle{
            max-width: 734.4px;
            margin: auto;
        }
    }


  @media only screen and (min-width:1024px) {

   .dropStyle > .btn-menu > .menu > .menu-item {
    padding: 40px 12px 1px 20px ;
    min-height: 239px;
    }

    .dropStyle > .btn-menu > .btn {
        border-radius: 10px;
        height: 52px;
        padding: 13px 20px;
    }

    .dropStyle > .btn-menu > .btn > .btn-txt {
        size: 18px;
        line-height: 25.67px;
    }

    .hostName {
        margin-top: 20px;
    }

    .hostPicture {
        margin-top: 10px;
    }

  }


 @media only screen and (min-width:1440px) {
    .logeMain{
        margin: 0 100px 253px 100px;
    }
    
    .dropStyle{
        display: grid;
        grid-template-columns: repeat(2, 582px);
        gap: 76px;
        justify-content:space-between;
        max-width: 1242px;
        margin-left: auto;
        margin-right: auto;
    }

    .starHost{
       flex-direction: column-reverse;
       gap: 40px;
    }

    .TagStarHost{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: -110px;
        max-width: 1242px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1024px) and (max-width:1439px) {

    .dropStyle{
        display: grid;
        grid-template-columns: repeat(2, 460px);
        justify-content:space-between; 
        max-width: 972px;
        margin: auto;
    }

     .TagStarHost{
        max-width: 972px;
        margin: auto;
    }

}

