

.losCardos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding-left: 21px;
    padding-right: 21px;
    margin-top: 22px;
    margin-bottom: 22px;
    
}

.cards {
    
    border-radius: 10px;
	max-height: 255px;
    max-width: 335px;
	position: relative;
    overflow: hidden;
    

    
}

.imgCards{
    filter: brightness(50%);
}

.imgCards:hover{
    filter: brightness(100%);
}

.titleCards {
		position: absolute;
		color: white;
        font-size: 18px;
		font-weight: 500;
        left: 10px;
        top: 180px;
        line-height: 25.67px;
    }