.host-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.host-text {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-orange);
    width: min-content;
}

.host-img{
    border-radius: 50%;
    height: 32px;
}

@media only screen and (min-width: 1024px) {
    .host-text{
        font-size: 18px;
        line-height: 25.67px;
    }

    .host-img{
        height: 64px;
    }

}