.navBar {
    display: flex;
    color: orange;
    text-decoration: none;
    text-align: right;
    align-content: center;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px;
    text-transform: uppercase;
}

a:visited {
    color: #FF6060;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.logoNav {
    width: 147px;
    height: 47px;
}

.navTitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
}

.navMenu{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}


@media only screen and (min-width: 1440px) {


.navBar{
    justify-content: space-between;
    margin: 40px 100px 40px 100px;
    text-transform: none;
}

br{
    display: none;
    }


.navTitle{
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
}

.logoNav {
    width: 190px;
    height: 62.26px;
}

.navMenu{
    gap: 57px;
}

}