.title {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    margin-top: 15px;
    margin-bottom: 0;
}
.tilteetloc{
    max-width: 335px;
    margin: auto;
}

.location {
    color: #FF6060;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96px;   
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (min-width:768px) and (max-width:1023px) {
    .tilteetloc{
        max-width: 734.4px;
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) {

    .title{
        margin-bottom: 0;
        margin-top: 30px;
        font-size: 36px;
        line-height: 51.34px;
    }

    .location{
        margin-top: 0;
        font-size: 18px;
        line-height: 25.67px;
    }

    .tilteetloc{
        max-width: 972px;
        margin: auto;
    }

}





@media only screen and (min-width: 1440px) {
    .tilteetloc{
        max-width: 1242px;
        margin: auto;
    }
}