.title {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    margin-top: 15px;
    margin-bottom: 0;
}

.location {
    color: #FF6060;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96px;   
    margin-top: 5px;
    margin-bottom: 10px;
}


@media only screen and (min-width: 1024px) {

    .title{
        margin-bottom: 0;
        margin-top: 40px;
        font-size: 36px;
        line-height: 51.34px;
    }

    .location{
        margin-top: 0;
        font-size: 18px;
        line-height: 25.67px;
    }


}





@media only screen and (min-width: 1024px) {
    .tilteetloc{
        max-width: 1242px;
        margin: auto;
    }
}