.title {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    margin: 20px;
}

.location {
    color: #FF6060;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.titleetloc {
    margin: 20px;
}