.logementTitle-text {
    color: var(--color-orange);
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    margin-top: 15px;
    margin-bottom: 0;
}
.logementTitle-container{
    max-width: 335px;
    margin: auto;
}

.logementTitle-location {
    color: var(--color-orange);
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96px;   
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (min-width:768px) and (max-width:1023px) {
    .logementTitle-container{
        max-width: 734.4px;
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .logementTitle-text{
        margin-bottom: 0;
        margin-top: 30px;
        font-size: 36px;
        line-height: 51.34px;
    }

    .logementTitle-location{
        margin-top: 0;
        font-size: 18px;
        line-height: 25.67px;
    }

    .logementTitle-container{
        max-width: 972px;
        margin: auto;
    }

}

@media only screen and (min-width: 1440px) {
    .logementTitle-container{
        max-width: 1242px;
        margin: auto;
    }
}