

.foot {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.logoFoot {
    height: 39.44px;
    width: 122px;
    filter:brightness(10);
    position: relative;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.textFoot {
    margin-bottom: 62px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
}


@media only screen and (min-width: 1440px) {

    .textFoot{
        font-size: 24px;
        line-height: 34.22px;
    }


}