.titleError {
    margin-top: 120px;
    text-align: center;
    color: #FF6060;
    font-size: 96px; 
    font-weight: 700;
    line-height: 136.9px;
}

.textError {
    text-align: center;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    margin-left: 57px;
    margin-right: 57px;
}

.linkBackAccueil{
    text-align: center;
    color: #FF6060;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.96px;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 133px;

}


@media only screen and (min-width: 1024px) {


    .titleError{
        font-size: 288px;
        line-height: 410.69px;
        margin-bottom: 0;
        margin-top: 0;
    }

    br{
    display: none;
    }

    .textError{
        font-size: 36px;
        line-height: 51.34px;
        margin-top: 0;
    }

    .linkBackAccueil{
        font-size: 18px;
        line-height: 25.67px;
        margin-bottom: 159px;
    }

}